/* pallette : vert fonce: 344e41 , vert 2 : 3a5a40 , vert 3 : 588157 , 
vert pale : a3b18a , beige : dad7cd */

body { 
    background-color: #dad7cd;
    margin: 0;
}

header { 
    padding: 30px;
    text-align: center;
    font-family: 'Hanken Grotesk';
    font-size: 22px; 
    text-decoration: none;
    background-color: #fff;
} 

.header-text > a { 
    padding: 20px;
    text-decoration: none; 
    color: #344e41;
    font-family: 'Hanken Grotesk';
}

.header-text > a:hover { 
    background-color: #dad7cd ;
    border-radius: 15px;
}


.title { 
    height: 600px;
    vertical-align: center;
    
} 

.type { 
    top: 50%; 
    left: 50%;
    width: 100%;
    text-align: center; 
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4.5em; 
    font-family: 'Hanken Grotesk';
    position: absolute; 
    transform: translate(-80%, -180%);
} 

.type2 { 
    top: 50%; 
    left: 50%;
    width: 100%;
    text-align: center; 
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4.5em; 
    font-family: 'Hanken Grotesk';
    position: absolute; 
    transform: translate(-50%, -30%);
} 

.type { 
    color:#3a5a40  ;
} 

.second-slide{ 
    background-color: #fff;
    height: 400px;
} 

.scholar { 
    background-color: #a3b18a;
    padding: 20px;
    padding-left: 120px;
} 

.trav { 
    background-color: #588157;
    padding: 20px;
    padding-left: 120px;
}

.trav h1 { 
    font-family: 'hanken grotesk'; 
    font-size: 40px;  
    color: white;
} 

.scholar h1 { 
    font-family: 'hanken grotesk'; 
    font-size: 40px;  
    color: white;
} 

.scholar p { 
    font-family: 'hanken grotesk'; 
    font-size: 20px;  
    color: white;
} 

.scholar ul { 
    font-family: 'Montserrat';
}

.grid-container { 
    width: 100%;
    display: grid; 
    grid-row: auto auto auto;
    grid-row-gap: 20px;
}

.grid-item {  
    display: grid; 
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    width: 70%; 
    border-radius: 20px; 
    background-color:#fff; 
    height: 60px;
    padding: 15px; 
    transition: 1s;

} 

.grid-item img { 
    width:70px;
}

#UDM:hover { 
    height: 460px;
    transition: 1s;
    transition-timing-function: ease;
}

#MAS:hover { 
    height: 200px;
    transition: 1s;
    transition-timing-function: ease;
}
#JAC:hover { 
    height: 200px;
    transition: 1s;
    transition-timing-function: ease;
}


.grid-item h2 { 
    font-family: 'Montserrat';
} 

#UDM1 p{ 
    color:black; 
    font-size: 14px;

}


#UDM1 a { 
    color:black; 
    font-size: 14px;
    font-family: 'hanken grotesk';

}

