
body { 
    padding: 40px 20px;
    background-color: rgb(244, 245, 241);
    margin: 0;
} 

hr { 
    border-top: dotted 1px; 
    background-color:rgb(215, 216, 213) ; 
} 

h1 { 
    font-family: 'Roboto Mono'; 

}
.right{ 
    float: right;
    font-family: 'Roboto Mono';
}
.type { 
    font-family: 'Roboto Mono';
}  

.title { 
    display: flex; 
    justify-content: space-between; 
    padding:0 30px;
}  

.title h1{ 
    margin: 0;
}

.circle { 
    width: 40px;
    height: 40px;
    border: dotted 1px; 
    border-radius: 100px;
    display: flex; 
    justify-content: center; 
    vertical-align: middle;
    align-items: center;
    transition: 0.7s;
} 



.circle:hover { 
    background-color: #fff;
    cursor: pointer;
    rotate:180deg
}

.circle > img{ 
    width: 70%;
    height: 70%; 
    rotate: 180deg;
} 

.sco { 
    font-family: 'Roboto Mono'; 
    margin-left: 100px;
} 
